<div class="container pt-4">
    <div class="row">
        <div class="banner-home__wrapp">
            <div class="banner-home__item">
                <img src="/img/banner-home1.png" alt="">
            </div>

            <div class="banner-home__center-wrapp">
                <div class="banner-home__item"><img src="/img/banner-home2.png" alt=""></div>
                <div class="banner-home__item"><img src="/img/banner-home3.png" alt=""></div>
            </div>

            <div class="banner-home__item">
                <img src="/img/banner-home4.png" alt="">
            </div>
        </div>
    </div>
</div>