
            <div class="products-list__grid">
                <include locals='{"items": [
                {
                    "itemName": "Товар №1",
                    "itemImg": "/img/productItem/1.png",
                    "itemImgtwo": "/img/productItem/1.png",
                    "itemPrice": "5011110",
                    "itemSale": "1900"

                   
                },
                {
                    "itemName": "Товар №1",
                    "itemImg": "/img/productItem/2.png",
                    "itemImgtwo": "/img/productItem/1.png",
                    "itemPrice": "500",
                    "itemSale": "700"
                   
                },

                {
                    "itemName": "Товар №1",
                    "itemImg": "/img/productItem/3.png",
                    "itemImgtwo": "/img/productItem/1.png",
                    "itemPrice": "500",
                    "itemSale": "2700"
                   
                },

                {
                    "itemName": "Товар №1",
                    "itemImg": "/img/productItem/4.png",
                    "itemImgtwo": "/img/productItem/1.png",
                    "itemPrice": "500",
                    "itemSale": "4700"
                   
                },


                {
                    "itemName": "Товар №1",
                    "itemImg": "/img/productItem/5.png",
                    "itemImgtwo": "/img/productItem/1.png",
                    "itemPrice": "500",
                    "itemSale": "1750"
                   
                },

                {
                    "itemName": "Товар №1",
                    "itemImg": "/img/productItem/5.png",
                    "itemImgtwo": "/img/productItem/1.png",
                    "itemPrice": "500",
                    "itemSale": "1750"
                   
                },



                {
                    "itemName": "Товар №1",
                    "itemImg": "/img/productItem/5.png",
                    "itemImgtwo": "/img/productItem/1.png",
                    "itemPrice": "500",
                    "itemSale": "1750"
                   
                },


                {
                    "itemName": "Товар №1",
                    "itemImg": "/img/productItem/5.png",
                    "itemImgtwo": "/img/productItem/1.png",
                    "itemPrice": "500",
                    "itemSale": "1750"
                   
                },


                {
                    "itemName": "Товар №1",
                    "itemImg": "/img/productItem/5.png",
                    "itemImgtwo": "/img/productItem/1.png",
                    "itemPrice": "500",
                    "itemSale": "1750"
                   
                },


                {
                    "itemName": "Товар №1",
                    "itemImg": "/img/productItem/5.png",
                    "itemImgtwo": "/img/productItem/1.png",
                    "itemPrice": "500",
                    "itemSale": "1750"
                   
                }
                
                
                
                

                
                
               



               
                ]}' src="src/templates/components/saleloop.html"></include>





