<div class="product-home__item-inner">
    <div class="product-home__img"><img src="{{ productData.itemImg }}" alt=""></div>

    <div class="product-home__title">{{ productData.itemName }}</div>
    <div class="product-home__wrapp">
        <div class="product-home__body">
            <div class="product-home__price">{{ productData.itemPrice }}</div>
            <div class="product-home__sale">{{ productData.itemSale }}</div>
        </div>
        <div class="product-home__footer">
            <div class="product-home__card"><span>Кол-во:</span>
                <form action=""><input type="number" placeholder="1"></form>
            </div>
            <div class="product-home__card"><a class="icon icon--rounded-color icon__basket--orange"></a></div>
        </div>
    </div>

</div>